# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Model files (optional - if large)
*.pt

# Screenshots (optional)
screenshots/

# VS Code
.vscode/